
body {
    color: #333;
    font-family: Georgia, Palatino, serif;
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 70rem;
    padding: 0.5rem;
}

h1 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 0;
}

div.header-links p {
    margin: 0;
}

div.header-links {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

div.header-links a, div.header-links a:visited {
    color: #0645ad;
}