#content {
    max-width: 900px;
    margin: 0 auto;
    -webkit-backdrop-filter: blur(10px) brightness(1.8);
    backdrop-filter: blur(10px) brightness(1.8);
    background: linear-gradient(90deg, rgba(255,255,255,0.7301295518207283) 0%, rgba(255,255,255,0.7021183473389356) 35%, rgba(255,255,255,0.8365721288515406) 100%);
    padding: 10px 40px;
    line-height: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

body {

    margin-top: 0;
    margin-bottom: 0;
    background: url("bg.jpg") no-repeat fixed;
    background-size: cover;
}